{
  "android": {
    "keystore": {
      "keystorePath": "credentials/scpb-release.keystore",
      "keystorePassword": "REPLACE_ME",
      "keyAlias": "scpb",
      "keyPassword": "REPLACE_ME"
    }
  }
}
